<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!-- Data Source=192.168.xx.xx;Initial Catalog=RemittanceDB -->
    <!--<add name="RemittanceDBConnectionString" connectionString="Connection String Encrypt Code Here" providerName="System.Data.SqlClient" />-->

    <!-- Data Source=xx.xx.xx.106;Initial Catalog=RemittanceDB; -->
    <add name="RemittanceDBConnectionString" connectionString="Connection String Encrypt Code Here" providerName="System.Data.SqlClient" /> 


  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RemitServiceSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="RemitServiceSoap2" />
        <binding name="MTBWebServiceSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ICTCService" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" />
        <binding name="RemitServiceSoap3">
          <security mode="Transport" />
        </binding>
        <binding name="RemitServiceSoap4" />
        <binding name="MTBWebServiceSoap11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="RemitServiceSoap">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="MTBWebServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="RemitServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>      
      <endpoint address="https://test.mutualtrustbank.com/Remit.asmx"
        binding="basicHttpBinding" bindingConfiguration="RemitServiceSoap3"
        contract="UATRemitServiceReference.RemitServiceSoap" name="RemitServiceSoap1" />
      <endpoint address="http://192.168.32.63/ICTC/ICTCServiceClass.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICTCService"
        contract="ICTCServiceClient.ICTCService" name="BasicHttpBinding_ICTCService" />      
    </client>
  </system.serviceModel>
</configuration>